# nameOverride: ubos-service-name
# fullnameOverride: ubos-service-name

# standalone: true
# basicAuth: false

# registry: &registry ghcr.io/comet-ml/opik

# localFEAddress: "host.minikube.internal:5174"
# localFE: false

# demoDataJob: true

# component:
#   backend:
#     enabled: true
#     serviceAccount:
#       enabled: true
#       create: true
#       name: opik-backend
#     metrics:
#       enabled: false
#     image:
#       repository: opik-backend
#       pullPolicy: IfNotPresent
#       tag: latest
#     replicaCount: 1
#     autoscaling:
#       enabled: false
#     backendConfigMap:
#       enabled: true
#     run_migration: true
#     waitForClickhouse:
#       clickhouse:
#         host: clickhouse-opik-clickhouse
#         port: 8123
#         protocol: http
#       image:
#         registry: docker.io
#         repository: curlimages/curl
#         tag: 8.12.1
#     livenessProbe:
#       path: /health-check?name=all&type=alive
#       port: 8080
#     readinessProbe:
#       path: /health-check?name=all&type=ready
#       port: 8080
#       initialDelaySeconds: 20

#     env:
#       STATE_DB_PROTOCOL: "jdbc:mysql://"
#       STATE_DB_URL: "opik-mysql:3306/opik?rewriteBatchedStatements=true"
#       STATE_DB_DATABASE_NAME: "opik"
#       STATE_DB_USER: opik
#       ANALYTICS_DB_MIGRATIONS_URL: "jdbc:clickhouse://clickhouse-opik-clickhouse:8123"
#       ANALYTICS_DB_MIGRATIONS_USER: "opik"
#       ANALYTICS_DB_PROTOCOL: "HTTP"
#       ANALYTICS_DB_HOST: "clickhouse-opik-clickhouse"
#       ANALYTICS_DB_PORT: "8123"
#       ANALYTICS_DB_USERNAME: "opik"
#       ANALYTICS_DB_DATABASE_NAME: "opik"
#       JAVA_OPTS: "-Dliquibase.propertySubstitutionEnabled=true -XX:+UseG1GC -XX:MaxRAMPercentage=80.0 -XX:MinRAMPercentage=75"
#       REDIS_URL: redis://:wFSuJX9nDBdCa25sKZG7bh@opik-redis-master:6379/
#       ANALYTICS_DB_MIGRATIONS_PASS: opik
#       ANALYTICS_DB_PASS: opik
#       STATE_DB_PASS: opik
#       OPIK_OTEL_SDK_ENABLED: false
#       OTEL_VERSION: 2.12.0
#       OTEL_PROPAGATORS: "tracecontext,baggage,b3"
#       OTEL_EXPERIMENTAL_EXPORTER_OTLP_RETRY_ENABLED: true
#       OTEL_EXPORTER_OTLP_METRICS_DEFAULT_HISTOGRAM_AGGREGATION: BASE2_EXPONENTIAL_BUCKET_HISTOGRAM
#       OTEL_EXPERIMENTAL_RESOURCE_DISABLED_KEYS: process.command_args
#       OTEL_EXPORTER_OTLP_METRICS_TEMPORALITY_PREFERENCE: delta
#       PYTHON_EVALUATOR_URL: http://opik-python-backend:8000
#     envFrom:
#       - configMapRef:
#           name: opik-backend

#     service:
#       type: ClusterIP
#       ports:
#         - name: http
#           port: 8080
#           protocol: TCP
#           targetPort: 8080
#         - name: backend
#           port: 3003
#           protocol: TCP
#           targetPort: 3003

#     ingress:
#       enabled: false

#   python-backend:
#     enabled: true
#     serviceAccount:
#       enabled: true
#       create: true
#       name: opik-python-backend
#     metrics:
#       enabled: false
#     image:
#       repository: opik-python-backend
#       pullPolicy: IfNotPresent
#       tag: latest
#     replicaCount: 1
#     autoscaling:
#       enabled: false
#     backendConfigMap:
#       enabled: true
#     env:
#       PYTHON_CODE_EXECUTOR_IMAGE_REGISTRY: *registry
#       PYTHON_CODE_EXECUTOR_IMAGE_NAME: "opik-sandbox-executor-python"
#       PYTHON_CODE_EXECUTOR_IMAGE_TAG: "latest"
#       PYTHON_CODE_EXECUTOR_STRATEGY: "process"
#       PYTHON_CODE_EXECUTOR_PARALLEL_NUM: "5"
#       PYTHON_CODE_EXECUTOR_EXEC_TIMEOUT_IN_SECS: "3"
#       OPIK_REVERSE_PROXY_URL: "http://opik-frontend:5173/api"
#       OTEL_SERVICE_NAME: "opik-python-backend"
#       OTEL_METRIC_EXPORT_INTERVAL: "60000"
#       OTEL_PROPAGATORS: "tracecontext,baggage"
#       OTEL_EXPERIMENTAL_EXPORTER_OTLP_RETRY_ENABLED: true
#       OTEL_EXPORTER_OTLP_METRICS_TEMPORALITY_PREFERENCE: cumulative
#     envFrom:
#       - configMapRef:
#           name: opik-python-backend

#     securityContext:
#       privileged: true
#     networkPolicy:
#       enabled: true
#       engineEgress:
#         ipBlock: 0.0.0.0/0
#         except:
#           - 10.0.0.0/8
#           - 100.64.0.0/10
#           - 172.16.0.0/12
#           - 192.0.0.0/24
#           - 198.18.0.0/15
#           - 192.168.0.0/16

#     service:
#       type: ClusterIP
#       ports:
#         - name: http
#           port: 8000
#           protocol: TCP
#           targetPort: 8000

#     ingress:
#       enabled: false

#   frontend:
#     enabled: true
#     serviceAccount:
#       enabled: true
#       create: true
#       name: opik-frontend
#     metrics:
#       enabled: false
#     image:
#       repository: opik-frontend
#       pullPolicy: IfNotPresent
#       tag: latest
#     replicaCount: 1
#     autoscaling:
#       enabled: false
#     backendConfigMap:
#       enabled: false
#     volumeMounts:
#       - mountPath: /etc/nginx/conf.d/
#         name: opik-frontend-nginx
#     volumes:
#       - name: opik-frontend-nginx
#         configMap:
#           name: opik-frontend-nginx
#           items:
#             - key: default.conf
#               path: default.conf
#     service:
#       type: ClusterIP
#       ports:
#         - name: http
#           port: 5173
#           protocol: TCP
#           targetPort: 5173
#     ingress:
#       enabled: true
#       ingressClassName: nginx
#       annotations:
#         nginx.ingress.kubernetes.io/auth-type: basic
#         nginx.ingress.kubernetes.io/auth-secret: opik-basic-auth
#         nginx.ingress.kubernetes.io/auth-realm: "Authentication Required - Opik"
#         cert-manager.io/cluster-issuer: letsencrypt-prod
#         nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
#         nginx.ingress.kubernetes.io/use-regex: "true"
#       host: ubos-service-url
#       hosts:
#         - host: ubos-service-url
#           paths:
#             - path: /opik
#               pathType: Prefix
#               port: 5173
#       tls:
#         secretName: ubos-service-tls-secret
#     throttling: {}
#     maps: []
#     awsResolver: false
#     logFormat: logger-json
#     logFormats:
#       "logger-json": >-
#         escape=json '{
#         "body_bytes_sent": $body_bytes_sent,
#         "http_referer": "$http_referer",
#         "http_user_agent": "$http_user_agent",
#         "remote_addr": "$remote_addr",
#         "remote_user": "$remote_user",
#         "request": "$request",
#         "status": $status,
#         "time_local": "$time_local",
#         "x_forwarded_for": "$http_x_forwarded_for"
#         }'
#     upstreamConfig: {}

mysql:
  image:
    registry: docker.io
    repository: bitnamilegacy/mysql


minio:
  image:
    registry: docker.io
    repository: bitnamilegacy/minio
  clientImage:
    registry: docker.io
    repository: bitnamilegacy/os-shell

# redis:
#   enabled: true
#   ssl: false
#   fullnameOverride: opik-redis
#   architecture: standalone
#   metrics:
#     enabled: false
#   auth:
#     password: "wFSuJX9nDBdCa25sKZG7bh"
#   image:
#     repository: redis/redis-stack-server
#     tag: 7.2.0-v10
#   master:
#     resources:
#       requests:
#         cpu: 15m
#         memory: 105M
#       limits:
#         memory: 1Gi
#     args:
#       - -c
#       - /opt/bitnami/scripts/merged-start-scripts/start-master.sh
#     configuration: maxmemory 105M
#     extraVolumes:
#       - name: merged-start-scripts
#         configMap:
#           name: bitnami-redis-stack-server-merged
#           defaultMode: 493
#     extraVolumeMounts:
#       - name: merged-start-scripts
#         mountPath: /opt/bitnami/scripts/merged-start-scripts
#   extraDeploy:
#     - apiVersion: v1
#       kind: ConfigMap
#       metadata:
#         name: bitnami-redis-stack-server-merged
#       data:
#         start-master.sh:
#           "#!/usr/bin/dumb-init /bin/bash\n### docker entrypoint script,\
#           \ for starting redis stack\nBASEDIR=/opt/redis-stack\ncd ${BASEDIR}\nCMD=${BASEDIR}/bin/redis-server\n\
#           if [ -z \"${REDISEARCH_ARGS}\" ]; then\nREDISEARCH_ARGS=\"MAXSEARCHRESULTS\
#           \ 10000 MAXAGGREGATERESULTS 10000\"\nfi\n[[ -f $REDIS_PASSWORD_FILE ]] &&\
#           \ export REDIS_PASSWORD=\"$(< \"${REDIS_PASSWORD_FILE}\")\"\nif [[ -f /opt/bitnami/redis/mounted-etc/master.conf\
#           \ ]];then\n    cp /opt/bitnami/redis/mounted-etc/master.conf /opt/bitnami/redis/etc/master.conf\n\
#           fi\nif [[ -f /opt/bitnami/redis/mounted-etc/redis.conf ]];then\n    cp /opt/bitnami/redis/mounted-etc/redis.conf\
#           \ /opt/bitnami/redis/etc/redis.conf\nfi\n${CMD} \\\n--port \"${REDIS_PORT}\"\
#           \ \\\n--requirepass \"${REDIS_PASSWORD}\" \\\n--masterauth \"${REDIS_PASSWORD}\"\
#           \ \\\n--include \"/opt/bitnami/redis/etc/redis.conf\" \\\n--include \"/opt/bitnami/redis/etc/master.conf\"\
#           \ \\\n--loadmodule ${BASEDIR}/lib/redisearch.so ${REDISEARCH_ARGS} \\\n\
#           --loadmodule ${BASEDIR}/lib/redistimeseries.so ${REDISTIMESERIES_ARGS} \\\
#           \n--loadmodule ${BASEDIR}/lib/rejson.so ${REDISJSON_ARGS} \\\n--loadmodule\
#           \ ${BASEDIR}/lib/redisbloom.so ${REDISBLOOM_ARGS}\n"



zookeeper:
  image:
    registry: docker.io
    repository: bitnamilegacy/zookeeper